table thead tr:nth-of-type(1) th {
  cursor: grab;
}

table thead tr:nth-of-type(1) th:active {
  cursor: grabbing;
}

table thead tr:nth-of-type(1).cdk-drop-list-dragging th {
  cursor: grabbing;
}

table thead tr:nth-of-type(1) th app-sortable {
  cursor: pointer;
}

table thead tr:nth-of-type(1) th .th-flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

table thead tr:nth-of-type(1) th .th-flex-container > * {
  flex: initial;
}
