<table *ngIf="vm$ | async as vm">
  <thead>
    <tr cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="onCdkDropListDropped($event)">
      <th *ngFor="let dataCol of vm.dataCols" cdkDrag cdkDragLockAxis="x">
        {{ dataCol }}
      </th>
    </tr>
    <tr>
      <th *ngFor="let dataCol of vm.dataCols">
        <app-table-search [dataCol]="dataCol"></app-table-search>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let dataRow of vm.dataRowsFiltered">
      <td *ngFor="let dataCol of vm.dataCols">{{ dataRow[dataCol] }}</td>
    </tr>
  </tbody>
</table>
