<table *ngIf="vm$ | async as vm">
  <thead>
    <tr
      cdkDropList
      cdkDropListOrientation="horizontal"
      (cdkDropListDropped)="onCdkDropListDropped($event)"
      appSortables
      (sortingsChange)="onSortingsChanged($event)"
    >
      <th *ngFor="let dataCol of vm.dataCols" cdkDrag cdkDragLockAxis="x">
        <div class="th-flex-container">
          <div>{{ dataCol }}</div>
          <div cdkDragHandle>&harr;</div>
          <app-sortable [id]="dataCol"></app-sortable>
        </div>
      </th>
    </tr>
    <tr>
      <th *ngFor="let dataCol of vm.dataCols">
        <app-table-search [dataCol]="dataCol"></app-table-search>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let dataRow of vm.dataRows">
      <td *ngFor="let dataCol of vm.dataCols">{{ dataRow[dataCol] }}</td>
    </tr>
  </tbody>
</table>
